#title {
    text-align: center;
}

.color {
    border: solid 1px;
}

ul {
    text-align: center;
    display: block;
}

li {
    display: inline-block;
    border-radius: 100%;
    width: 40px;
    height: 40px;
}

.azul {
    background-color: blue;
}

.vermelho {
    background-color: red;
}

.amarelo {
    background-color: yellow;
}

.laranja {
    background-color: orange;
}