* {
  padding: 0;
  margin: 0;
}

#title {
  text-align: center;
}

#color-palette {
  display: flex;
  justify-content: center;
  align-items: center;
}

.color {
  width: 70px;
  height: 70px;
  border: 1px solid black;
  /* margin-left: 20px; */
  display: inline-block;
  border-radius: 50%;
}

#clear-board-container {
  display: flex;
  margin-left: 22px;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 10px;
}

#clear-board {
  width: 10vw;
  height: 4vh;
  border: none;
  border-radius: 4px;
  font-weight: 700;
  background-color: aqua;
  color: rgb(66, 60, 53);
  transition: 0.5s;
}

#clear-board:hover {
  background-color: aquamarine;
  color: rgb(49, 40, 29);
  cursor: pointer;
}

#pixel-board {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 22px;
  width: 200px;
  height: 0px;
  margin-left: auto;
  margin-right: auto;
}

.pixel {
  background-color: white;
  border: 1px solid black;
  display: inline-block;
  width: 40px;
  height: 40px;
  box-sizing: border-box;
  /* border-radius: 50%; */
}

.form-container {
  margin-top: 20px;
  margin-left: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
}
